<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./../../../assets/farmacia 5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./../../../assets/Farmaacia 2 mod.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./../../../assets/Farmacia 3 mod.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="tex">
        <h4>Impulsamos tu farmacia</h4>
        <p>olufarma te ofrece la solución única que aglutina las necesidades tecnológicas, de consultoría y comunicación
            de la farmacia actual. Todo ello con la relación calidad-precio que buscas y profesionales especializados en
            cada área.</p>
        <div class="card-group">
            <div class="card p-3">
                <img src="./../../../assets/med_1.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Especialistas en Farmacia</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>                   
                </div>
            </div>
            <div class="card p-3">
                <img src="./../../../assets/med_2.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Consultoria de Farmacia</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>                  
                </div>
            </div>
            <div class="card p-3">
                <img src="./../../../assets/med_3.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sistemas Tecnicos</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>                  
                </div>
            </div>
        </div>
    </div>
</div>
